name: main

on:
  push:
    branches: [main]

concurrency:
  group: main-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "25.0"
          gleam-version: "0.22.1"

      - run: gleam format --check

      - run: gleam test

      - run: gleam build --target=javascript

      - uses: actions/upload-artifact@v3
        with:
          name: gleam-build
          path: build/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: gleam-build

      - uses: denoland/deployctl@v1
        with:
          project: nakai
          entrypoint: ./index.js
