name: main

on:
  push:
    branches: [main]

concurrency:
  group: main-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "25.0"
          gleam-version: "0.22.1"

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x


      - run: gleam format --check

      - run: make

      - run: gleam test